*{
    margin: 0;
    padding:0;
}

form{
    margin-top:49 
}

a.button7 {
  
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
     font-family:Arial;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
    
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.button7{
  
    margin-top:1000px;
}


.hed
{
    padding:0.2;
   
    text-align: center;
    height: 100%;
background: linear-gradient(to top left, blue, pink);
    
}

.nam{
    
    text-align: center;
    margin-top:15%;
    color: aliceblue;
    font-size: 50;
        font-family:Arial;
    font-weight: 900;
}


.instlog{
    width: 100%;
        height 20%;
text-align: center;
  margin-top: 4%;
}





.artic{
    padding:0.2;
   
    text-align: center;
    height: 100%;
    
height:100vh;
background: linear-gradient(to top left, DeepPink, pink);

}






.bot{
    
     padding:0.2;
    height: 100%;
background: linear-gradient(to top left, blue, pink);
     text-align: center;
    
}



.tn{
     
    
   position: absolute;
left: 0;
bottom: -98%;
    color: aliceblue;
    font-size: 50;
    text-align: bottom;
    height: 90%;

    
}

.but{
  margin-top: 12%;
    margin-left: 1%;
}

.baton{
     margin-top: 4%;
    margin-left: 20%;
}

.txt
{
    margin-top: 10%;   
}
.cats{
    text-align: center;
    margin-left: 20%;
        margin-top: 2%;
}
.swwet{
    text-align: center;
    margin-left: 20%;
    font-size: 60px;
    font-weight: 700;
     color: white;
     font-family:Arial;
    
}

.info{
    color: aliceblue;
     font-family:Arial;
    
    width: 40%;
  margin-left: 40%;
}





