body{
    text-align: center;
    background-image: url(22.jpg); 
  
}



.dam{
     
    margin-top: 3%;
    height: 40%;
    width :40%;
    background-color: MediumSpringGreen;
 display: inline-block;     
}


.epic{
    display: inline-block;
    margin-top: 3%;
    height: 40%;
    width :40%;
    background-color: MediumSpringGreen; 
    
}


.randy
{
   display: inline-block;
    margin-top: 3%;
    height: 40%;
    width :40%;
    background-color: MediumSpringGreen;
}


.xfile
{
    display: inline-block;
    
    margin-top: 3%;
     height: 40%;
    width :40%;
    background-color: MediumSpringGreen;
  
}

.gnom
{

       display: inline-block;

    margin-top: 3%;
     height: 40%;
    width :40%;
    background-color: MediumSpringGreen;
      
}

.robo
{

         display: inline-block;


    margin-top: 3%;
  height: 40%;
    width :40%;
    background-color: MediumSpringGreen;

}